.copyright-info {font-size: 0px;}
.copyright-info:before {font-size: 12px;content: "© 2020 - ID Media for Technology. All Rights Reserved.";}
.site-info.clear {background-color: #08f;}
.entry-footer .cat-links {font-size: 0px;height: 0px;}
.entry-meta > span {font-size: 0px;}
.col.col-three-1 {width: 100%;}
.site .site-widget-area {background-color: #08f;padding: 0px;}
.entry-header {height: 0px;visibility: hidden;}
.entry-title {background-color: #c76969;}
#post-187.post-187.post.type-post.status-publish.format-standard.hentry.category-insertable_posts {width: 100%;padding-right: 3%;border-width: 0px;}
#post-187.post-187.post.primary.content-area {background-color: #08f;width: 100%;}
#panel-187-0-0-3.so-panel.widget.widget_black-studio-tinymce.widget_black_studio_tinymce.panel-last-child.widgetopts-SO {padding-right: 0px;}
#post-187.post-187.post.type-post.status-publish.format-standard.hentry.category-insertable_posts {background-color: #08f;}
#post-324.post-324.post.type-post.status-publish.format-standard.hentry.category-insertable_posts {top: 0px;left: 0px;position: absolute;font-size: 11px;}
#pgc-324-0-0.panel-grid-cell {height: 0px;}
.single .hentry .entry-content {top: 0px;position: fixed;}
#primary-menu.menu {visibility: collapse;}
.site .main-navigation .icon-search {visibility: hidden;}
#masthead.site-header.header-image.light-scheme {height: 300px;}